{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <h1>FDO : Gestion Compétition</h1>
    <hr>
    <br>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://fakeimg.pl/300x150/84888e/" alt="fakeImage">
                <div class="card-body">
                    <h5 class="card-title">Faire l'appel</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur dolorum eius enim fuga maxime necessitatibus neque reiciendis vero voluptas? Consectetur corporis, doloribus labore laudantium nesciunt numquam quis reiciendis voluptatem!</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://fakeimg.pl/250x130/2a5089/" alt="fakeImage">

                <div class="card-body">
                    <h5 class="card-title">Création planning</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto beatae commodi consequatur, dolores ex illum laudantium molestias nihil nisi odit perferendis placeat porro recusandae, unde vel veritatis voluptas! Officia!</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://fakeimg.pl/250x160/3c9e56/" alt="fakeImage">

                <div class="card-body">
                    <h5 class="card-title">Compétition</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, atque beatae consequuntur cumque dolor dolores esse facere id ipsam laudantium, optio pariatur perferendis quam quia, quos repudiandae veniam vero.</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://fakeimg.pl/250x90/c10ba6/" alt="fakeImage">

                <div class="card-body">
                    <h5 class="card-title">Espace juges</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis consequatur cupiditate, error excepturi hic libero molestiae molestias natus omnis perspiciatis possimus rem vel. Expedita ipsam nulla odit perspiciatis voluptatem.</p>
                    <a href="{{ path('Panel.index') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://fakeimg.pl/250x100/ff0000/" alt="fakeImage">

                <div class="card-body">
                    <h5 class="card-title">Résultat</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita quae repudiandae voluptatem. Ab accusantium aspernatur, debitis dolores explicabo hic labore magni maiores numquam quasi quos vel velit voluptas voluptatibus!</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://fakeimg.pl/250x100/ff0000/" alt="fakeImage">

                <div class="card-body">
                    <h5 class="card-title">Options supplémentaires</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto, autem consequuntur debitis deserunt, dolor ea eos itaque laborum maiores nostrum numquam obcaecati odit provident quo rem tempore temporibus vel.</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
