[Desktop Entry]
Comment=Application de gestion de compétitions de danses
Terminal=true
Name=Compétitions logiciel
Exec=sh /home/antoi/PhpstormProjects/FDO_logiciel/logiciel.sh
Type=Application
Icon=/home/antoi/PhpstormProjects/FDO_logiciel/logiciel.png