{% extends 'base.html.twig' %}

{% block title %}Espace de juge{% endblock %}

{% block body %}
<div>
    <h1>Espace de juge</h1>
    <a href="{{ path('Panel.testPdf') }}" target="_blank" class="btn btn-info">Planning compétition</a>
</div>
{% endblock %}
