@import "~bootstrap/scss/bootstrap.scss";
body,
html {
  width: 100%;
  height: 100%;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
}
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

i{

}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  //background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}