ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}
ol li {
    counter-increment: my-awesome-counter;
}
ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: red;
    font-weight: bold;
}

span {
    color: #ffb760;
    font-weight: bold;
}