{% extends 'base.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}
    <div class="list-group">
        {% for resultats in resultat %}
        <a href="#" class="list-group-item list-group-item-action list-group-item-light"><strong>Équipe {{ resultat.team.id }} : </strong></a>
        {% endfor %}
    </div>
{% endblock %}