{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('planningApp') }}
{% endblock %}

{% block body %}
<div>
    <h1>Hello Test Planning !! ✅</h1>

    <div class="alert alert-info" role="alert">
        Cliquer sur le nom de la colonne pour la trier !
    </div>
    <div id="root"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planningApp') }}
{% endblock %}