<footer class="footer">
	<div class="container-fluid bg-primary">
		<div class="container">
			<div class="row py-3">
				<div class="col-md-9">
					<p class="text-white">© 2018 Copyright: Par Aurélien DREY, Antoine HEITZMANN, Raphael IENCO,
						Gauvain PATAKY, Olivier SALFRANC, Mattéo BILLET et l'IUT de Belfort-Montbéliard.</p>
				</div>
				<div class="col-md-3">
					<div class="d-inline-block">
						<div class="bg-circle-outline d-inline-block">
						</div>

						<div class="bg-circle-outline d-inline-block">
						</div>

						<div class="bg-circle-outline d-inline-block">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>