<!DOCTYPE html>
<html>
<head>
	<title>JuryTest</title>
	<style>
		td{
		}
		/*table{*/
			/*border-collapse: collapse;*/
		/*}*/
		/*table, tr, td {*/
			/*border: 1px solid black;*/
		/*}*/
	</style>
</head>

<body>
	<h1>Aurélien est trop fort !</h1>
</body>
</html>